<div class="content">
  <h3>Todo List</h3>
  <div class="todosContainer">
    <article
      *ngFor="let task of todos; index as i;"
      [ngClass]=" task.done ? 'done' : 'archived' "
      title="{{ task.done ? 'undo' : 'do' }}"
      (click)="changeStatus(task)"
      >
        <p>{{ task.text }}</p>
        <a class="archive"
          (click)="toggleArhiveTask(task, i)"
        >archive</a>
        <a class="remove"
          (click)="remove(i)"
        >remove</a>
    </article>
  </div>
  <form name="todoForm">
    <input type="text"
          [(ngModel)]="newTodo.text"
          placeholder="Your todo here!"
          name="text" autocomplete="off"
          >
    <input
          [disabled]="!newTodo.text"
          type="submit"
          value="Add"
          (click)="addTask()">
  </form>
</div>
<div class="content">
  <h3>Archived List</h3>
  <div class="todosContainer">
    <article
      *ngFor="let task of archived; index as i;"
      [ngClass]="{done: task.done}"
      title="{{ task.done ? 'undo' : 'do' }}"
    >
      <p>{{ task.text }}</p>
      <a class="remove"
        (click)="toggleArhiveTask(task, i)"
      >unarchive</a>
    </article>
  </div>
</div>
