body {
  display: flex;
  flex-direction: column;
}

.todosContainer {
  display: block;
  height: 15em;
  border-bottom: 1px solid #DDDDDD;
  overflow: auto;
}

.content {
  margin-bottom: 2em;
}

h3 {
  padding: 1.2em 1.2em;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #EEEEEE;
  color: #040655;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.2em 0;
  height: 5em;
}

form input[type=text] {
  margin: 0 0.5em;
  padding: 0.5em;
  flex: 1;
  border: none;
  border-bottom: 1px inset #DDDDDD;
  transition: border-bottom-color 250ms ease-in-out,
              border-bottom-width 250ms ease-in-out;
}

form input[type=text]:hover,
form input[type=text]:focus,
form input[type=text]:active {
  border-bottom-color: #AAA;
  border-bottom-width: 2px;
}

form input[type=submit] {
  margin: 0 0.5em;
  padding: 0.6em;
  background-color: #EEEEEE;
  border: none;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

form input[type=submit]:hover,
form input[type=submit]:focus,
form input[type=submit]:active {
  background-color: #DDDDDD;
}

article {
  display: flex;
  align-items: flex-start;
  padding: 0.5em 0.5em;
  border-bottom: 1px solid #EEEEEE;
  transition: border-color 250ms ease-in-out,
              box-shadow 250ms ease-in-out;
}

article.done {
  opacity: 0.5;
}

article:hover {
  border-color: #CCCCCC;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

article.done p {
  text-decoration: line-through;
}

article p {
  flex: 1;
  padding: 0.2em;
  cursor: default;
}

article:not(.archived) p {
  cursor: pointer;
}

article a {
  margin-left: 0.5em;
  padding: 0.2em;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

article a:hover,
article a:focus,
article a:active {
  background-color: #DDDDDD;
}
